{% extends 'home/base.html' %}

{% load static %}

{% block title %}Contáctenos - Spa Verónica Hernández{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/contactenos.css' %}">
{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<div class="container my-5 ">
  <div class="row shadow rounded overflow-hidden contenedorcontacto">
    <div class="col-md-6 py-5 px-4 contenedorizquierdo">
      <h4 class="fw-bold mb-4 hw-3 text-center ponteContacto">Ponte en contacto con <br>nosotros</h4>

      <div class="contenedorinfo">
        <div class="mb-3 d-flex">
          <i class="bi bi-telephone-fill me-3 fs-5 "></i>
          <span><strong>Número:</strong><br> +57 302 6491015</span>
        </div>
        <div class="mb-3 d-flex ">
          <i class="bi bi-envelope-fill me-3 fs-5"></i>
          <span><strong>Correo:</strong><br>spaveronicahernandez@gmail.com</span>
        </div>
        <div class="mb-4 d-flex ">
          <i class="bi bi-geo-alt-fill me-3 fs-5"></i>
          <span><strong>Dirección:</strong><br>Calle 56 mdjiwi</span>
        </div>
      </div>

      <h4 class="fw-bold mt-5 text-center nuestrasRedes">Conecta con
        nuestras redes sociales</h4>

      <div class="d-flex justify-content-center gap-3 mt-3 redes">

        <a href="https://www.instagram.com/spa.veronicahernandez" style="color: inherit; margin-right: 10px;">
          <i class="bi bi-instagram fs-4"></i>
        </a>

        <a href="https://www.tiktok.com/@spa.veronicahernandez101" style="color: inherit; margin-right: 10px;">
          <i class="bi bi-tiktok fs-4"></i>
        </a>

        <a href="https://wa.me/+573026491015" style="color: inherit; margin-right: 10px;" target="_blank"
          rel="noopener">
          <i class="bi bi-whatsapp fs-4"></i>
        </a>
      </div>

      <div class="text-center mt-5">
        <img src="{% static 'home/images/Logo.png' %} " class="" alt="logo spa" style="max-height: 50px;">
      </div>
    </div>
    <div class="col-md-6 bg-white py-5 px-4 contenedorderecho">
      <h4 class="fw-bold mb-4 text-center contactanos">Contáctanos</h4>
      <form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre</label>
        {{ form.nombre }}
    </div>
    <div class="mb-3">
        <label for="{{ form.apellido.id_for_label }}" class="form-label">Apellido</label>
        {{ form.apellido }}
    </div>
    <div class="mb-3">
        <label for="{{ form.correo.id_for_label }}" class="form-label">Correo</label>
        {{ form.correo }}
    </div>
    <div class="mb-3">
        <label for="{{ form.mensaje.id_for_label }}" class="form-label">Déjanos tu mensaje...</label>
        {{ form.mensaje }}
    </div>
    <button type="submit" class="btn w-100" style="background-color: #fec2c2;">Enviar</button>
</form>
    </div>
      
  </div>
</div>

{% endblock %}